.container{
  display: inline-block;
}

ul li {
  display: inline;
  list-style-type: none;
}

.typewriter {
  overflow: hidden;
  border-right: .15em solid rgb(0, 98, 255);
  white-space: nowrap;
  height: auto;
  font-size: 1rem;
  width: 0;
  animation: 
  typing 3.5s steps(10, end) forwards,
    blink .8s infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink {
  from { border-color: transparent }
  to { border-color: rgb(0, 98, 255); }
}
